* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;
}

:root {
    --bg-page: #f0ede9;
    --bg-wrapper: #f1ede3;
    --bg-elevated: #faf7f0;

    --text-primary: #2e2b27;
    --text-muted: #645f58;

    --border-default: #d3ccbd;
    --border-elevated: #bdb4a0;

    --accent: #4b9463;
    --accent-soft: color-mix(in srgb, var(--accent) 12%, transparent);

    --accent-teal: #318f39;
    --accent-orchid: #ce3a6b;
    --accent-sage: #7fd677;
    --accent-peach: #e2a26c;
    --accent-desert: #d1b15e;
    --accent-purple: #563763;

    --danger: #ff5c4d;
}